.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.popup-container {
    background-color: #1A1A1A;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}


.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    min-width: 200px;
    background-color: #1A1A1A;
    border-radius: 8px;
    color: #A2A2A2;
    padding: 15px;
    margin: 10px 5px;
}

.popup-content label {
    display: block;
    margin-bottom: 5px;
}

.popup-content input,
.popup-content textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.popup-content textarea {
    resize: vertical;
}

